<h1 class="titre">Historique des votes</h1>
<div *ngFor=" let obj of listeVotes; index as nb">
  <div class="row">
    <div class="col">
      <img src={{obj.collegue.photoUrl}} class="img-thumbnail img-responsive" />
      {{obj.collegue.pseudo | uppercase}}<br>
      {{obj.collegue.pseudo | uppercase}} a desormais un score de {{obj.collegue.score}} !
      <br>
      <button id="supr" type="buttton" (click)="supprimerVote(nb)" class="btn btn-danger btn-sm">Supprimer</button>
    </div>

  </div>

</div>